.main_content_container > .wrapper{
    position: relative;
}

.branding-head {
    margin: 0 auto;
    width: 100%;
    position: static;
}

.branding-left {
    height: 100%;
    display: block;
    top:0;
    left:50%;
    margin: 0 0 0 -1320px;
    width: 799px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.branding-right {
    height: 100%;
    display: block;
    top:0;
    left:50%;
    margin: 0 0 0 520px;
    width: 799px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.toggleMenu .branding-left,.toggleMenu .branding-right{
    display:none;
} 

.branding_fixed{
    position: fixed;
    top:61px!important;
    z-index: 899;
}

.branding_bottom{
    position: absolute;
    bottom:0px;
    top: initial;
}

#adriver_banner_1{
    position: absolute;
    width:100%;
    z-index: 9999999999;
}
#adriver_banner_1 div{
    margin:0 auto;
}

footer{
    z-index: 998;
    position: relative;
}

@media only screen and (max-width: 999px) {
    .branding-left {
        margin: 0 0 0 -491px;
        width: 153px;
    }

    .branding-right {
        margin: 0 0 0 338px;
        width: 153px;
    }
}

@media screen and (max-width: 674px){
    .branding-left {
        margin: 0 0 0 -337px;
        width: 97px;
    }

    .branding-right {
        margin: 0 0 0 241px;
        width: 97px;
    }

}

.hidden, .hide {
    display: none !important;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
    .branding-left,
    .branding-right {
        display: none;
    }

}