/* Social buttons */
.share-btn {
  height: 20px !important;
}

.share-btn,
.share-btn iframe {
  display: inline;
  display: inline-block;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
}

.share-btn.fb-widget {
  width: 106px;
  height: 21px !important;
  vertical-align: top;
}

.share-btn.vk-widget,
.share-btn.vk-widget iframe {
  width: 88px !important;
}

.share-btn.twtr-widget {
  width: 100px;
}

.share-btn.surf-widget {
  width: 90px;
}

.share-btn.gplus-widget {
  width: 65px;
}

.share-btn.pin-widget {
  background: url('//passets.pinterest.com/images/pidgets/bps1.png') no-repeat !important;
  background-position: 0 -20px;
  width: 40px;
  text-decoration: none;
}

.share-btn.pin-widget:active {
  background-position: 0 -40px;
}

.share-btn.pin-widget:hover {
  background-position: 0 0;
}

.inline-share {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10px;
}

.inline-share .share-btn,
.inline-share iframe {
  display: inline-block !important;
  margin: 0 5px !important;
}

.post-img .inline-share {
  top: 10px;
}

.inline-share .vk-widget,
.inline-share .vk-widget iframe {
  width: 54px !important;
  vertical-align: top;
}

.inline-share .fb_iframe_widget span {
  vertical-align: top !important;
  margin: 0px !important;
}

.img-slider {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  cursor: col-resize;
}

.img-slider__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-slider__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  box-shadow: 0 0 20px 2px #fff;
}

.img-slider__arrow::after {
  content: "";
  width: 36px;
  height: 37px;
  background: url("../_i/img-resize.png") no-repeat;
  position: absolute;
  left: -18px;
  top: 50%;
  margin-top: -19px;
}

.img-slider__arrow-img {
  display: none;
}

.img-slider .copy-icon {
  display: none;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  /*box-shadow: 0 0 10px #fff;*/
}

.copy-icon__on {

}

.alphabetProfile__photo {
  position: relative;
  min-height: 200px;
}

.clear-mobile {}

@media (max-width: 999px) {
  .clear-mobile {
    clear: both;
  }
}

@media (max-width: 674px) {
  .clear-mobile2 {
    clear: both;
  }
}

.gallery-items {
  text-align: center;
}

.header_inner .commercial {
  display: inline-block;
  margin-left: 0;
}

#ctrlcopy {
  color: transparent;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.wysiwyg figure img,
.wysiwyg img {
  height: auto;
}

.wysiwyg code,
.wysiwyg .quotation {
  margin: 55px 0 45px;
  text-align: center;
  display: block;
}

.wysiwyg code.stk-code {
  margin: 0;
  line-height: normal !important;
}

.wysiwyg .stk-grid code {
  margin: 0;
}

.wysiwyg .aside-art {
  margin: 0 25px 30px 0;
  float: left;
  text-align: left;
  width: 160px;
  clear: both;
}

.aside-art+p {
  clear: right !important;
  margin-left: 180px;
}

.wysiwyg iframe,
.article_photo iframe {
  max-width: 100%;
}

/*.wysiwyg p {
  text-align: start !important;
  clear: both;
}*/

.top_banner_wide div {
  margin: 0 auto;
}

.otherHeroes {
  margin: 45px 0 45px;
}

.page-margin {
  margin: 30px 0 0px;
}

.editorsChoose__more {
  margin-top: 80px;
}

.login_form .social_login div {
  margin-right: 15px;
}

.wide-gallery .slickTools {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.wysiwyg .quiz .test_result p {
  text-align: center !important;
}

.another_news .smallPreview .replaced_image {
  float: left;
  margin: 0 15px 0 0;
  width: 95px;
}

.wysiwyg .article_author+.article-entry {
  padding-top: 6px;
}

.lazy {
  display: none;
  height: auto !important;
}

.wysiwyg .article_author+p,
.wysiwyg .article_author+p+p {
  clear: none;
}

.users_favorites_list li {
  list-style: none;
}

.users_favorites_list .add-to-favorites a {
  opacity: 0;
}

.top-five__item {
  float: left;
}

/* article right column scrolling */
@media screen and (min-width: 1000px) {
  .scroll_block.fixed {
    position: fixed;
    margin-top: 0 !important;
  }

  .scroll_block.static {
    position: relative;
  }
}

.scroll_block {
  width: 300px !important;
}

.wysiwyg figure img {
  margin-bottom: 0px;
}

.wysiwyg .gallery-item-title p {
  text-align: center !important;
  margin: 0px !important;
}

.top-five__item .item__title {
  display: none;
}

.slick-slide .item__title {
  display: block !important;
}

.pRelative {
  position: relative;
}

.pRelative .art-state {
  position: absolute;
  white-space: nowrap;
  top: 5px;
  left: 70px;
  font: 10px/20px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  height: 20px;
  padding: 0 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}

.pRelative div.copyright {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
  z-index: 1;
}

.pRelative .btn.highlight {
  color: red;
  border-color: red;
}

.pRelative .btn.icon-btn {
  font-size: 28px;
  height: 28px !important;
  position: absolute;
  right: 10px;
  top: 5px;
}

.pRelative .btn {
  background: #FFF;
  border: 1px solid #ccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #666c70;
  cursor: pointer;
  display: inline-block;
  font: 12px/28px Arial, Helvetica, sans-serif;
  height: 28px;
  letter-spacing: 1px;
  padding: 0 15px;
  text-transform: uppercase;
}

.wysiwyg .widePic {
  background-position: 50% 50%;
}

.wide-gallery__item::before {
  content: ' ';
}

.wysiwyg .aside-art img {
  margin: 10px 0;
}

.aside-art+p {
  margin-left: 0px !important;
}

.top-five__item:first-child {
  width: 100%;
}

.top-five__item:first-child .item__title {
  display: block;
}

.gallery-zoomed .thumbnails_fullimg_a img {
  width: 512px;
  max-width: 512px;
  margin: -6px !important;
  display: block;
  height: 760px;
}

.gallery-zoomed .thumbnails_fullimg_a {
  width: 500px;
  height: 742px;
  overflow: hidden;
}

.alphabet .alphabet__item {
  display: none;
}

.alphabet .alphabet__item:first-child,
.alphabet .alphabet__item+.slick-slide {
  display: block;
}

/* quiz */
p.rightAnswer__title,
.test_result_score {
  text-align: center !important;
}

.wide-gallery__wrap {
  overflow: hidden;
}

.center_wrap {
  max-width: 1002px;
  margin: 0 auto;
}

header.sticky {
  top: -1000px;
}

.another_news.another_news--after-content {
  clear: both;
}

.side-social__item:nth-child(3) {
  border-top: none !important;
}

.main_menu__item a {
  /*white-space: nowrap;*/
  line-height: 30px;
  padding-bottom: 4px;
}

.en_SG .subscribtion {
  /* background-image: url('../_i/bg_subscribe_en_SG.jpg');*/
}

.en_MY .subscribtion {
  /* background-image: url('../_i/bg_subscribe_en_MY.jpg');*/
}
.another_news>.smallPreview>.gif-image{
  border-radius: 100%;
}
.mn_MN .global,
.mn_MN .wysiwyg figcaption,
.mn_MN .headerMenuMain__item,
.mn_MN .news_header__tags,
.mn_MN .smallPreview__header,
.mn_MN .article_tags,
.mn_MN .editorial-text__author,
.mn_MN .alphabet_name,
.slider_caption:lang(mn),
.wide-gallery__caption li:lang(mn),
.wysiwyg .slider-caption__count:lang(mn) {
  font-weight: normal !important;
}

.ru_UA header.sticky {
  z-index: 65001;
}

.collumns-section:empty {
  min-height: 0;
}

/* pop-up gallery #4058 #4057 */
.pg-v .pg-main__img img {
  display: block;
}

.pg-v .pg-main__img {
  max-width: 850px;
  margin: auto;
}

.pg-v .pg-list__item {
  margin: 0;
  height: 80px;
}

.pgs .pgs-view__list .pg-list {
  height: 240px;
  overflow: hidden;
}

.pg-v .pg-state__wrap .pg-main__img {
  max-width: 512px !important;
}

.pg-v .pg-state__wrap .pg-list__item {
  height: 100px;
}

.pg-v .pg-state__wrap .pg-list {
  height: 500px;
}

.pg-state__unit.pg-state-up {
  overflow: hidden;
}

.pg-state-up__unit {
  display: block;
  background: #000 none repeat scroll 0 0 !important;
}

.pg-state-up__unit a:hover {
  opacity: 0.5;
}

.pg-v .pg-state-up__unit {
  max-height: 163px;
}

@media (max-width: 1000px) {
  .pg-v .pg-state-up__unit {
    max-height: 133px;
  }
}

.popup-gallery-holder {
  overflow: hidden;
  position: relative;
}

.vshidden {
  visibility: hidden;
}

/* end pop-up gallery */
/* video #5205 */
.article_photo video {
  width: 100%;
}

@media (max-width: 1199px) {
  .article_photo video {
    height: 100%;
    max-width: none;
    width: 150%;
    left: -25%;
    top: 0;
    position: absolute;
  }
}

@media (max-width: 999px) {
  .article_photo video {
    position: inherit;
  }
}

.article_photo {
  overflow: hidden;
}

.wysiwyg figcaption {
  text-align: left;
}

.col_2_setka .articleHead {
  max-width: 950px;
}

.wysiwyg .align-center {
  text-align: center;
}

/* #5692 */
.stk-post .align-center {
  text-align: center !important;
}

.stk-post .align-right {
  text-align: right !important;
}

.stk-post .align-left {
  text-align: left !important;
}

.stk-post .align-justify {
  text-align: justify !important;
}

/* infinite scroll styles */
.article_body {
  /* box-shadow: 0 100px 1000px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s; */
  /* z-index: 100; */
  background: #fff;
  position: relative;
}

.article_body+.article_body {
  margin-top: 100px;
}

.article_prepare {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.article_curtain {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

footer {
  position: relative;

}

.invisible {
  /* transform: translateX(100%); */
}

.prev_art {
  /* margin-bottom: 100vw;
 box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.7);
  z-index: 15;*/
}

/*
.next_art {

  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

.next_art+article_body {
  opacity: 0;
  pointer-events: none;
}
 */
.active_art:after {
  position: relative
}

.active_art {
  z-index: 15;
}

header.sticky,
header:not(.sticky) {
  max-width: 100%;
}

.fb_wrap {
  display: none;
}

/* aside .widget_small {
  margin-top: 25px;
  margin-bottom: 25px;
} */

@media screen and (min-width: 1000px) {
  .-wide {
    margin-top: 0px;
  }
}

.replaced_image {
  height: 100%;
}