@font-face {
  font-family: 'Oswald';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'),
    url(../fonts/Oswald-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
    url(../fonts/PlayfairDisplay-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
    url(../fonts/PlayfairDisplay-Regular.woff) format('woff');
}

.header_inner .global,
.news-section .news__button,
.special.label::before,
.instagram__subheader,
.footer__logo a,
.footer__rambler,
.footer__arrow,
.alphabet_header a.see_all,
.follow__inner h3,
.columnist__photo::before,
.otherHeroes,
header.sticky,
.special-proj,
.editorsChoose__subtitle,
.editor-flex .row21:after,
.deck__card_bottom,
.deck__card_mid,
.panel,
.collumns-section:before,
.collumns-section:after {
  display: none;
}

header,
header:not(.sticky) {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff;
  z-index: 200;
  max-width: 100%;
  box-shadow: none;
}

.top-five ul {
  display: none !important;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
  color: black;
  overflow-x: hidden;
}

.side_menu_wrap {
  overflow: hidden;
}

.header_inner .logo {
  background: none;
}

.logo__wrapper {
  display: block;
  height: 100%;
  width: 96px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s linear;
}

.logo__wrapper_image {
  overflow: hidden;
  width: 120px;
}

.logo__wrapper_planet {
  transition-duration: 0.3s;
}

.logo__image {
  height: 100%;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.down .header_inner .logo .logo__image,
.header_inner .logo .logo__image,
.tech_logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 114 27'%3E%3Cpath fill='%23231F20' d='M42.423 15.352c0 3.213-.548 5.37-1.63 6.5-1.08 1.131-2.916 1.696-5.463 1.696-1.495 0-2.754-.282-3.79-.848-1.037-.565-1.763-1.383-2.192-2.424-.43-1.056-.637-2.693-.637-4.91V.61h-3.48v14.772c0 2.707.341 4.85 1.007 6.411.667 1.562 1.792 2.752 3.347 3.585 1.57.818 3.583 1.235 6.041 1.235 2.532 0 4.576-.476 6.145-1.413 1.555-.953 2.636-2.172 3.243-3.69.592-1.517.903-3.555.903-6.113V.61h-3.494v14.742zM10.143 26.449c1.688 0 3.124-.149 4.294-.431 1.17-.283 2.132-.714 2.917-1.28.77-.565 1.421-1.368 1.954-2.41a7.495 7.495 0 0 0 .785-3.376c0-1.503-.43-2.812-1.303-3.912-.859-1.101-2.102-1.89-3.701-2.35 1.243-.596 2.176-1.384 2.798-2.366a5.724 5.724 0 0 0 .918-3.124c0-1.19-.34-2.32-1.037-3.406-.695-1.086-1.658-1.89-2.887-2.41-1.229-.52-2.858-.788-4.886-.788H0v25.853h10.143zM3.524 3.659H8.84c1.91 0 3.257.12 4.042.358.785.238 1.392.684 1.807 1.339.43.654.636 1.413.636 2.26 0 .908-.222 1.652-.68 2.262-.46.595-1.126 1.026-2.03 1.294-.68.193-1.791.297-3.36.297h-5.73V3.66zm0 10.86H9.67c1.688 0 2.991.149 3.894.431.904.283 1.6.789 2.118 1.503.503.714.755 1.547.755 2.514 0 .818-.178 1.547-.533 2.172-.356.624-.8 1.1-1.348 1.442-.547.328-1.214.566-2.028.7-.46.089-1.259.119-2.399.119H3.524v-8.881zM55.57 11.96V3.407h8.411c1.97 0 3.406.387 4.324 1.175.918.788 1.362 1.785 1.362 3.02 0 .833-.237 1.606-.71 2.32-.474.714-1.155 1.235-2.073 1.547-.904.328-2.162.491-3.776.491H55.57zm20.701 14.415L65.314 14.697l.518-.044c2.547-.342 4.442-1.146 5.657-2.395 1.214-1.265 1.836-2.797 1.836-4.641 0-1.428-.37-2.723-1.11-3.898-.741-1.175-1.719-1.993-2.962-2.454-1.23-.461-3.036-.7-5.405-.7H52.062V26.42h3.524V14.935h5.523l10.883 11.44h4.28zM99.356 20.767c-1.94 1.993-4.354 3.02-7.197 3.05-2.62.029-4.975-.938-6.989-2.857-2.028-1.919-3.08-4.418-3.11-7.423-.029-2.87.934-5.31 2.859-7.289 1.925-1.993 4.323-3.02 7.151-3.05 2.829-.029 5.257.953 7.197 2.901 1.954 1.95 2.946 4.404 2.976 7.304.015 2.871-.948 5.34-2.887 7.364zm2.265-16.884c-2.65-2.618-6.248-3.912-9.92-3.882-3.717.03-6.56 1.398-9.181 4.046-2.636 2.647-3.954 5.83-3.91 9.475.045 4.15 1.556 7.542 4.487 10.071 2.68 2.29 5.716 3.436 9.047 3.406 3.761-.044 7.004-1.398 9.64-4.03 2.621-2.619 3.939-5.832 3.894-9.566-.029-3.704-1.406-6.902-4.057-9.52zM112.252 26.94a1.755 1.755 0 0 0 0-3.51 1.755 1.755 0 1 0 0 3.51z'/%3E%3C/svg%3E");
}

.down .header_inner .headerMenuMain__item a,
.header_inner .headerMenuMain__item a {
  color: #000;
}

.header_inner .logo {
  top: 0;
  left: 0;
  height: 70px;
  width: 120px;
}

header.sticky .logo {
  height: 30px;
  width: 80px;
  top: 15px;
}

.down .header_inner .search,
.header_inner .search {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='11 11 11.0001 11.0001' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.821 21.177l-2.633-2.633A4.618 4.618 0 0 0 15.618 11a4.617 4.617 0 1 0 2.923 8.19l2.634 2.631a.456.456 0 0 0 .646-.644zm-6.204-1.862c-2.041 0-3.7-1.659-3.7-3.698s1.659-3.7 3.7-3.7c2.039 0 3.7 1.66 3.7 3.7s-1.661 3.698-3.7 3.698z'/%3E%3C/svg%3E");
  border-color: #d9d9d9;
}

.down .header_inner .menu,
.header_inner .menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 21'%3E%3Cpath d='M0 0h27v1H0zm0 10h27v1H0zm0 10h27v1H0z'/%3E%3C/svg%3E");
  background-size: 27px 27px;
}

.header_inner {
  padding: 0;
  /* max-width: 950px; */
}

.headerMenuMain__item {
  font: 400 12px/70px 'Helvetica', Arial, sans-serif;
}

.headerMenuMain__item:hover > a,
.header_inner .headerMenuSecondary__item a:hover {
  border-bottom: 1px solid;
}

.header_inner .headerMenuMain__item + .headerMenuMain__item {
  margin-left: 10px;
}

.header_inner .headerMenuSecondary__item {
  font: 400 10px/22px 'Helvetica', Arial, sans-serif;
}

.header_inner .headerMenuSecondary__item a {
  color: inherit;
  display: inline-block;
  line-height: normal;
}

.header_inner .headerMenuMain__item:hover > a:before {
  opacity: 0;
}

.top-five__item .item__title h2,
.columnist__header h2 {
  font: 400 28px/33px 'Helvetica', Arial, sans-serif;
}

.top-five__item .item__title h2 {
  text-align: left;
  padding: 20px 0 0;
}

.news_header__tags,
.subscribtion-form__email,
.footer__menu,
.alphabet_header,
.instagramSlider__item .item__title,
.backgroundBox__header,
.search_results,
.backgroundBox .abc li,
.columnist__tag,
.article_tags,
.news ul li,
.news ul h1,
.load-more,
.pagination .right_arrow,
.instagram__button,
.instagram__button:hover {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
  margin: 0;
}

.alphabet_name,
.editorial-text__author,
.search_results span {
  font: 700 12px/14px 'Helvetica', Arial, sans-serif;
}

.mediumPreview .mediumPreview__header,
.mediumPreview h1,
.subscribtion-form__text,
.editorial-text__title,
.columnist__name {
  font: 400 22px/22px 'Helvetica', Arial, sans-serif;
}

.row12 .desk .column:nth-child(2n + 1) .smallPreview__header,
.news-section .smallPreview__header,
.article_tag-bottom a {
  font: 400 16px/19px 'Helvetica', Arial, sans-serif;
  max-height: 100px;
  overflow: hidden;
}

.news-section .dateTime,
.article_date,
.author_name,
.news time.dateTime,
.slider .slider_text,
.wide-gallery__caption div {
  font: 400 16px/19px Baskerville, Arial, sans-serif;
  margin: 0;
  color: #000;
}

html[data-useros='windows'] .news-section .dateTime,
html[data-useros='windows'] .article_date,
html[data-useros='windows'] .author_name,
html[data-useros='windows'] .news time.dateTime,
html[data-useros='windows'] .slider .slider_text,
html[data-useros='windows'] .wide-gallery__caption div {
  font-family: 'Playfair Display', serif;
}

.author_name a,
.author_name span,
.slider .slider_text,
.wide-gallery__caption div {
  font-style: italic;
}

.smallPreview__header,
.row21 .column:nth-child(5n + 4) .smallPreview__header,
.row21 .column:nth-child(5n + 4) h1,
.special_header h1,
.special_header h2,
.news .mediumPreview {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
}

.swiper-columnists--next,
.swiper-columnists--prev,
.top-five__next,
.top-five__prev,
.compilation_prev,
.compilation_next,
.news-section .news_next,
.news-section .news_prev,
.news-section .news_next:after,
.news-section .news_prev:after,
.slider.-instagramSlider .prev,
.slider.-instagramSlider .next,
.alphabet .next,
.alphabet .prev,
.wide-gallery__prev,
.wide-gallery__next,
.slider .next,
.slider .prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='%23000'/%3E%3C/svg%3E");
  width: 100px;
  height: 100px;
  transition: transform 0.4s;
  background-size: 10px;
  /* top: 310px; */
}

.swiper-columnists--prev:hover,
.swiper-columnists--next:hover,
.top-five__next:hover,
.top-five__prev:hover,
.compilation_prev:hover,
.compilation_next:hover,
.news-section .news_next:hover,
.news-section .news_prev:hover,
.alphabet .next:hover,
.alphabet .prev:hover,
.wide-gallery__prev:hover,
.wide-gallery__next:hover,
.slider .next:hover,
.slider .prev:hover {
  transform: scale(1.8);
}

.slider .next {
  right: -15px;
}

.slider .prev {
  left: -15px;
}

.instagram_img .prev,
.instagram_img .next {
  top: 280px;
}

.top-five__prev,
.top-five__next {
  margin: 0;
}

.top-five__prev {
  left: -35px;
  top: 40%;
}

.top-five__next {
  right: -35px;
  top: 40%;
}

.top-five {
  padding: 0 25px;
  margin-bottom: 90px;
  overflow: hidden;
}

.top-five__item .item__title,
.col_2 {
  width: auto;
}

.top-five__arrows {
  height: 480px;
}

.news-section {
  background: white;
  padding: 0 50px;
  margin-bottom: 80px;
}

.news_slider {
  z-index: 10;
}

.news-section a.news_link {
  width: inherit;
  height: inherit;
  left: inherit;
  position: relative;
  top: inherit;
  /* color: #b1b1b3; */
}

.news-section + .row21 > .smallPreview .image-wrap,
.circle-section .image-wrap,
.collumns-section .alphabet .slick-slider {
  border-radius: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.alphabet-slider__buttons {
  top: 43%;
}

.alphabet .prev {
  left: -30px;
  top: -40px;
  width: 40px;
}

.alphabet .next {
  right: -30px;
  top: -40px;
  width: 40px;
}

.alphabet_name,
.editorial-text__author,
.alphabet_header {
  text-transform: uppercase;
}

.alphabet_header a {
  color: white;
  margin: 0 auto;
}

.alphabet_name {
  height: 80px;
  top: 220px;
  padding-top: 10px;
  background: transparent;
  z-index: 15;
}

.alphabet_header {
  height: 15px;
  top: 255px;
}

.alphabet-image:before {
  content: '';
  position: absolute;
  width: 300px;
  height: 150px;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    #0000 0%,
    #00000073 70%,
    #000000a6 100%
  );
  left: 0;
  bottom: 0;
}

.news-section + .row21 > .smallPreview .news_header__tags,
p.article_tags,
.article_header .article_subtitle,
.smallPreview .image-wrap {
  margin-bottom: 20px;
}

.row21 {
  margin-bottom: 90px;
}

.row21 .column + .column {
  margin-left: 50px;
}

.news-section .news_prev,
.news-section .news_next {
  top: 38%;
  background-image: none;
  z-index: 1;
}

.news-section .news_prev:after,
.news-section .news_next:after {
  top: 0;
}

.news-section .news_prev {
  left: -10px;
}

.news-section .news_next {
  right: -10px;
}

.desk .smallPreview .image-wrap {
  margin-bottom: 20px;
}

.desk .smallPreview .news_header__tags,
.circle-section .news_header__tags {
  margin-bottom: 10px;
}

.row12 .desk .column:nth-child(2n) {
  margin-left: 30px;
  width: 435px;
  height: 325px;
  overflow: hidden;
}

.mediumPreview .image-wrap {
  margin-bottom: 20px;
  height: 340px;
}

.mediumPreview.column .image-wrap {
  height: 250px;
}

.mediumPreview .news_header__tags,
.wide-gallery__caption ul {
  margin-bottom: 10px;
}

.main .mediumPreview:first-child,
.row {
  margin-bottom: 60px;
}

.row + .mediumPreview .image-wrap,
.row12 .desk .column .image-wrap {
  border-radius: 0;
}

.header_inner .headerMenuSecondary {
  left: -10px;
  padding: 5px 5px 5px 10px;
}

.news-section .news_header__tags {
  margin: 0;
  margin-bottom: 10px;
}

.news-section .smallPreview__header {
  margin-bottom: 20px;
  max-width: 270px;
}

.news-section .news_item {
  margin: 0 auto 80px;
  height: auto;
}

.row21 .column:nth-child(n + 4),
.circle-section .column:nth-child(n + 4) {
  margin-left: 50px;
}

.news_header__tags a,
.news_header__tags span,
.article_header .em,
.wide-gallery__caption li span,
.slider_caption .slash {
  color: #000000;
  display: inline-block;
}

.news_header__tags span {
  padding: 0;
}

.news_item .news_header__tags a {
  color: #000;
}

.row12,
.article_title,
.special_header h2,
.article_header .article_subtitle,
.col_2 {
  margin: 0;
}

.article_title,
.special.label,
.special_header h1,
.special_header h2,
.article_header,
.article_subtitle,
.editorsChoose {
  padding: 0;
}

.article_header,
.row + .mediumPreview {
  margin-bottom: 90px;
}

.article_title {
  margin-bottom: 10px;
}

.special {
  margin: 0 0 90px;
  text-align: left;
}

.special.label .image-wrap {
  margin-bottom: 20px;
}

.top-five__item .item__img {
  height: 480px;
}

.special .news_header__tags {
  margin-bottom: 10px;
}

.special_header {
  padding: 0;
  text-align: left;
  max-width: 100%;
  display: block;
}

.mediumPreview {
  margin: 0;
}

.row22 {
  margin-bottom: 50px;
}

.row22 .column {
  margin-bottom: 40px;
  width: 485px;
}

.row22 .column:nth-child(2n) {
  margin-left: 30px;
}

.row22 .column:nth-child(n + 3),
.row12 .desk .column:nth-child(n + 3),
.row12 .desk .column:nth-child(2n) {
  margin-top: 0;
}

.row12 .desk .column:nth-child(2n + 1),
.row12 .desk .column:nth-child(2n),
.row12 .desk .column:nth-child(n + 3) {
  margin-bottom: 60px;
}

.follow {
  margin: 0 0 90px;
  padding: 0;
  background: #fff;
}

.follow__inner {
  padding-top: 210px;
}

.follow__inner:hover {
  background-size: inherit;
}

.follow__inner img:hover,
.follow__inner:hover .follow__inner-bg {
  -webkit-transform: none;
  transform: none;
}

.follow__inner img,
.follow__inner {
  height: 480px;
}

.follow__inner p,
.shadowForm__input {
  font: 400 27px/27px 'Helvetica', Arial, sans-serif;
}

.no_search_result,
.article_subtitle {
  font: 400 27px/32px 'Helvetica', Arial, sans-serif;
}

.follow__inner p {
  text-align: center;
  margin: 0 auto 15px;
  color: #000;
}

.followList__item {
  border: 0;
  height: 15px;
  width: 15px;
}

.followList__item.fb,
.followList__item.fb:active,
.followList__item.fb:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='218 -218.4 243.2 486.4'%3E%3Cpath fill='%23090509' d='M369.4-59l.1-42c0-21.9 1.5-33.6 32.8-33.6h57.9v-83.8h-83c-80.6 0-99.1 41.6-99.1 110l.1 49.4h-61.1v83.8h61.1V268h91.2l.1-243.2h82.8l8.9-83.8h-91.8z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: contain;
}

.followList__item.vk,
.followList__item.vk:active,
.followList__item.vk:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304.4 304.4'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M262 175.6c10 9.8 20.7 19.1 29.8 30 4 4.8 7.7 9.8 10.6 15.4 4.1 8 .4 16.7-6.7 17.1h-44.3a34.2 34.2 0 0 1-28.3-11.5c-6.1-6.2-11.8-12.9-17.7-19.3a42 42 0 0 0-8-7.1c-6-4-11.3-2.7-14.8 3.6a46.6 46.6 0 0 0-4.6 20.7c-.5 10.4-3.7 13.1-14.1 13.6-22.5 1-43.7-2.3-63.5-13.6-17.4-10-31-24-42.7-40A538.1 538.1 0 0 1 1.5 84.4C-2 76.4.5 72.2 9.3 72c14.5-.3 29-.3 43.4 0 5.9 0 9.8 3.4 12 9a269 269 0 0 0 29.5 54.5c3.2 4.5 6.4 9 11 12.2 5.2 3.5 9.1 2.4 11.6-3.4 1.5-3.6 2.2-7.5 2.5-11.4 1.2-13.4 1.3-26.8-.7-40-1.2-8.4-6-13.8-14.2-15.4-4.3-.8-3.6-2.4-1.6-4.8 3.6-4.1 7-6.7 13.6-6.7h50.1c8 1.5 9.7 5 10.7 13v55.7c0 3 1.6 12.2 7.2 14.2 4.4 1.4 7.3-2.1 10-5 12-12.7 20.5-27.7 28.2-43.3a283 283 0 0 0 9.1-21c2.1-5.3 5.4-8 11.3-7.8h48.3c1.4 0 2.9 0 4.2.3 8.2 1.4 10.4 4.9 7.9 12.8-4 12.4-11.7 22.8-19.2 33.2-8 11.2-16.6 22-24.6 33.1-7.3 10.2-6.8 15.4 2.3 24.3zm0 0' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: contain;
}

.followList__item.in,
.followList__item.in:active,
.followList__item.in:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Logo' fill='%23000' viewBox='-26 27 17 17'%3E%3Cpath d='M-17.5 28.5l3.4.1c.8 0 1.3.2 1.6.3.4.2.7.3 1 .6.3.3.5.6.6 1 .1.3.3.7.3 1.6l.1 3.4-.1 3.4c0 .8-.2 1.3-.3 1.6-.2.4-.3.7-.6 1a2 2 0 0 1-1 .6c-.3.1-.8.3-1.6.3l-3.4.1-3.4-.1c-.8 0-1.3-.2-1.6-.3-.4-.2-.7-.3-1-.6a2 2 0 0 1-.6-1c-.1-.3-.3-.8-.3-1.6l-.1-3.4.1-3.4c0-.8.2-1.3.3-1.6.2-.4.3-.7.6-1a2 2 0 0 1 1-.6c.3-.1.7-.3 1.6-.3l3.4-.1m0-1.5l-3.5.1c-.9 0-1.5.2-2.1.4-.6.2-1 .5-1.5 1s-.8.9-1 1.5c-.2.5-.4 1.2-.4 2.1l-.1 3.5a26.6 26.6 0 0 0 .5 5.6c.2.6.5 1 1 1.5s.9.8 1.5 1c.5.2 1.2.4 2.1.4l3.5.1 3.5-.1c.9 0 1.5-.2 2.1-.4.6-.2 1-.5 1.5-1s.8-.9 1-1.5c.2-.5.4-1.2.4-2.1l.1-3.5-.1-3.5c0-.9-.2-1.5-.4-2.1-.2-.6-.5-1-1-1.5s-.9-.8-1.5-1c-.5-.2-1.2-.4-2.1-.4l-3.5-.1z' class='st0'/%3E%3Cpath d='M-17.5 31.1c-2.4 0-4.4 2-4.4 4.4 0 2.4 2 4.4 4.4 4.4 2.4 0 4.4-2 4.4-4.4 0-2.4-2-4.4-4.4-4.4zm0 7.2a2.8 2.8 0 1 1 0-5.6c1.6 0 2.8 1.3 2.8 2.8 0 1.6-1.2 2.8-2.8 2.8z' class='st0'/%3E%3Ccircle cx='-13' cy='31' r='1' class='st0'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: contain;
}

.followList__item.pin,
.followList__item.pin:active,
.followList__item.pin:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.3 16.8'%3E%3Cpath fill='%23000' d='M12.8 4.8C12.3 1.6 9.2 0 5.9.4 3.2.7.6 2.9.4 5.9.3 7.8.9 9.2 2.7 9.6c.7-1.4-.3-1.7-.4-2.6C1.6 2.9 7 .2 9.7 3c2 2 .7 8-2.4 7.3-3-.5 1.5-5.3-1-6.2-2-.8-2.9 2.3-2.1 3.8-.6 2.6-1.7 5.2-1.2 8.4 1.5-1.1 2.1-3.2 2.4-5.4.8.5 1.1.9 2.2 1 3.7.3 5.7-3.5 5.2-7.1z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: contain;
}

.followList__item.tw,
.followList__item.tw:active,
.followList__item.tw:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 612 612'%3E%3Cpath fill='%23000' d='M612 116.3a250.7 250.7 0 0 1-72 19.7A126 126 0 0 0 595 66.6a253.1 253.1 0 0 1-79.8 30.5 125.6 125.6 0 0 0-214 114.5A356.4 356.4 0 0 1 42.7 80.4 125.5 125.5 0 0 0 81.5 248a125.6 125.6 0 0 1-56.9-15.8v1.6c0 60.8 43.3 111.5 100.7 123a127.2 127.2 0 0 1-56.7 2.1c16 50 62.3 86.2 117.3 87.2A251.9 251.9 0 0 1 0 498.1a354.9 354.9 0 0 0 192.4 56.5c231 0 357.2-191.3 357.2-357.2l-.4-16.3c24.7-17.6 46-39.7 62.8-64.8z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: contain;
}

.followList__item.ytube,
.followList__item.ytube:active,
.followList__item.ytube:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71.41 50'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath id='path7' d='M35.71,0S13.35,0,7.77,1.47a9.14,9.14,0,0,0-6.3,6.35C0,13.41,0,25,0,25S0,36.65,1.47,42.18a9,9,0,0,0,6.3,6.29C13.41,50,35.71,50,35.71,50s22.35,0,27.94-1.47a8.93,8.93,0,0,0,6.29-6.3c1.47-5.58,1.47-17.17,1.47-17.17s.06-11.65-1.47-17.24a8.94,8.94,0,0,0-6.29-6.29C58.06,0,35.71,0,35.71,0ZM28.59,14.29,47.18,25,28.59,35.71Z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 14px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.followList__item.tg,
.followList__item.tg:active,
.followList__item.tg:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='389.6'%3E%3Cpath fill='%23000' d='M392.6 13.4A34.5 34.5 0 0 0 365 0c-7.2 0-14.6 2-22.1 6L23.9 173C1.2 185.1-.3 203 0 210.1c.4 7.2 3.9 24.8 27.6 34.3l40.8 16c7.7 3.1 16.4 4.7 25.7 4.7l4.3-.2c-.5.7-1.2 1.2-1.7 2-7.6 11.3-8 26.7-1.1 43.3 0 .3.2.6.3.8 12 26.7 25.5 56.8 27 61a27.4 27.4 0 0 0 25.4 17.6c17.2 0 22.3-8.3 50.5-54 2.2-3.4 7-11.3 7.9-21.2l9 3.6 45.1 18.4 21.2 8.7a28.1 28.1 0 0 0 4 2 27.1 27.1 0 0 0 10 2c20.6 0 25.5-17.8 28.1-27.3a2440.6 2440.6 0 0 0 5-18.5l69-253c5.1-19.1-1.2-31.3-5.5-37zM176 321s-25.5 41.6-27.7 41.6h-.1c-2.5-6.8-27.8-62.8-27.8-62.8-4.6-11.2-3.8-20.8 4.2-20.8 1.8 0 3.9.5 6.3 1.5l19.6 10.2a54.2 54.2 0 0 0 10.8 5.7l1 .4 1.8 1c15.2 8 20 10.8 12 23.2zM372 43.2l-68.8 253a1636.8 1636.8 0 0 1-7.3 25.6l-25-10.3-45.1-18.4a3844 3844 0 0 0-50-19.8l-2.3-1-8.4-4.3c-8.4-6.5-9.1-17-.7-26L304 92.4c5.7-6 7.8-9.1 6.6-9.1-1 0-4.1 2-9.3 6L124.6 228.8a51.6 51.6 0 0 1-46.3 6.7l-40.7-16.1c-13.8-5.5-14.3-15.5-1.2-22.4l319-167.3c3.6-1.9 6.8-2.8 9.5-2.8 6.9 0 10 6 7.2 16.3z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: contain;
}

.instagram {
  width: 100%;
  margin: 0 auto 280px;
  padding: 30px 0 0;
  text-align: left;
  background: #232323;
  max-width: 1100px;
  height: 300px;
  position: relative;
}

.instagram,
.swiper-stories {
  background-image: linear-gradient(
    0deg,
    #fff,
    #fff 1px,
    #0000 1px,
    #0000 10px
  );
  background-position: 185px -60px;
  background-size: 770px 100px;
  background-repeat: no-repeat;
}

.news-section a.news_link,
.instagram__header,
.swiper-stories h3,
.news_date:first-child,
.news_date,
.news_date span,
.editorsChoose__header {
  font: 700 22px/33px 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.editorsChoose__header {
  letter-spacing: normal;
}

.news-section a.news_link:after,
.instagram__header:after {
  content: '';
  position: absolute;
}

.instagram__header {
  color: white;
  padding: 0 10px 0px 90px;
  background: #232323;
  display: inline-block;
  margin-bottom: 100px;
  cursor: pointer;
}

.instagram__header:after {
  width: 50%;
  height: 1px;
  margin: 10px 10px 10px 10px;
  padding-right: 90px;
  /* border-bottom: 1px solid #fff; */
  max-width: 768px;
}

.instagramSlider__item div {
  height: auto;
  border-radius: 100%;
  margin-bottom: 20px;
}

.instagram__button {
  color: #000;
  border: 0;
  text-align: center;
  padding: 33px 17px 0 0;
  border-radius: 0;
}

.slider.-instagramSlider {
  padding: 0 30px;
}

.instagramSlider__item .item__title {
  color: #000;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.slider.-instagramSlider .prev,
.slider.-instagramSlider .next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='%23fff'/%3E%3C/svg%3E");
  width: 60px;
  height: 100px;
  transition: transform 0.4s;
}

.slider.-instagramSlider .prev {
  top: 50px;
  left: -10px;
}

.slider.-instagramSlider .next {
  top: 50px;
  right: -10px;
}

.slider.-instagramSlider .prev:hover,
.slider.-instagramSlider .next:hover {
  transform: scale(1.8);
}

.circle-section .column + .column,
.circle-section .column:nth-child(5n + 1) {
  margin-left: 50px;
}

.circle-section .column:nth-child(n + 4) {
  margin-top: 0;
}

.circle-section .column:nth-child(5n + 4) {
  width: 300px;
}

.circle-section .column:nth-child(1),
.circle-section .column:nth-child(2),
.circle-section .column:nth-child(3) {
  /* <3 nth-childs */
  margin-bottom: 60px;
}

.circle-section .column:nth-child(1),
.circle-section .column:nth-child(5n + 4) {
  margin-left: 0;
}

.collumns-section {
  margin: 0 0 90px;
  overflow: visible;
  display: flex;
}

.collumns-section .editorial {
  padding: 20px 30px 15px 30px;
  width: 620px;
  border-color: #000;
  background: transparent;
}

.collumns-section .alphabet {
  right: auto;
  float: none;
}

.editorial__avatar {
  margin: 0 auto 30px;
}

.editorial-text__author {
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.main-content .special.label,
.mw-670 {
  max-width: 670px;
}

.editorial-text__author a:link,
.editorial-text__author a:visited {
  color: inherit;
}

.editorial-text__title {
  color: #000000;
  margin-bottom: 50px;
  display: block;
  height: auto;
}

.pagination .left_arrow.op2,
.pagination ul {
  display: none;
}

.load-more,
.pagination .right_arrow,
.instagram__button,
.instagram__button:hover {
  border-color: #000;
  width: 100px;
  height: 100px;
  padding: 40px 0px;
  line-height: 20px;
  margin-top: 50%;
  border: 1px solid;
  border-radius: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.load-more:after,
.pagination .right_arrow:after,
.instagram__button:after,
.instagram__button:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 100%;
  bottom: -1px;
  right: -15px;
}

.load-more,
.pagination .right_arrow,
.instagram__button,
.instagram__button:hover {
  left: 0;
  right: 0;
  top: 0;
  margin: 30px auto 30px;
  position: relative;
}

.load-more a,
.pagination .right_arrow a {
  /* padding: 24px 8px 0 0; */
  text-align: center;
}

.pagination .right_arrow {
  padding: 0;
}

.pagination .right_arrow a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more:hover,
.pagination .right_arrow:hover {
  transform: none;
  cursor: pointer;
}

.instagram__button,
.instagram__button:hover {
  position: absolute;
  margin: 410px auto 0;
  color: #000;
}

.pagination .right_arrow {
  background: white;
  cursor: pointer;
}

footer {
  padding: 90px 0;
  background: #232323;
}

footer .subscribtion {
  background: #232323;
  margin-bottom: 120px;
  height: auto;
}

footer .subscribtion__inner {
  padding: 0;
}

.footer__logo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 114 27'%3E%3Cpath fill='%23fff' d='M42.423 15.352c0 3.213-.548 5.37-1.63 6.5-1.08 1.131-2.916 1.696-5.463 1.696-1.495 0-2.754-.282-3.79-.848-1.037-.565-1.763-1.383-2.192-2.424-.43-1.056-.637-2.693-.637-4.91V.61h-3.48v14.772c0 2.707.341 4.85 1.007 6.411.667 1.562 1.792 2.752 3.347 3.585 1.57.818 3.583 1.235 6.041 1.235 2.532 0 4.576-.476 6.145-1.413 1.555-.953 2.636-2.172 3.243-3.69.592-1.517.903-3.555.903-6.113V.61h-3.494v14.742zM10.143 26.449c1.688 0 3.124-.149 4.294-.431 1.17-.283 2.132-.714 2.917-1.28.77-.565 1.421-1.368 1.954-2.41a7.495 7.495 0 0 0 .785-3.376c0-1.503-.43-2.812-1.303-3.912-.859-1.101-2.102-1.89-3.701-2.35 1.243-.596 2.176-1.384 2.798-2.366a5.724 5.724 0 0 0 .918-3.124c0-1.19-.34-2.32-1.037-3.406-.695-1.086-1.658-1.89-2.887-2.41-1.229-.52-2.858-.788-4.886-.788H0v25.853h10.143zM3.524 3.659H8.84c1.91 0 3.257.12 4.042.358.785.238 1.392.684 1.807 1.339.43.654.636 1.413.636 2.26 0 .908-.222 1.652-.68 2.262-.46.595-1.126 1.026-2.03 1.294-.68.193-1.791.297-3.36.297h-5.73V3.66zm0 10.86H9.67c1.688 0 2.991.149 3.894.431.904.283 1.6.789 2.118 1.503.503.714.755 1.547.755 2.514 0 .818-.178 1.547-.533 2.172-.356.624-.8 1.1-1.348 1.442-.547.328-1.214.566-2.028.7-.46.089-1.259.119-2.399.119H3.524v-8.881zM55.57 11.96V3.407h8.411c1.97 0 3.406.387 4.324 1.175.918.788 1.362 1.785 1.362 3.02 0 .833-.237 1.606-.71 2.32-.474.714-1.155 1.235-2.073 1.547-.904.328-2.162.491-3.776.491H55.57zm20.701 14.415L65.314 14.697l.518-.044c2.547-.342 4.442-1.146 5.657-2.395 1.214-1.265 1.836-2.797 1.836-4.641 0-1.428-.37-2.723-1.11-3.898-.741-1.175-1.719-1.993-2.962-2.454-1.23-.461-3.036-.7-5.405-.7H52.062V26.42h3.524V14.935h5.523l10.883 11.44h4.28zM99.356 20.767c-1.94 1.993-4.354 3.02-7.197 3.05-2.62.029-4.975-.938-6.989-2.857-2.028-1.919-3.08-4.418-3.11-7.423-.029-2.87.934-5.31 2.859-7.289 1.925-1.993 4.323-3.02 7.151-3.05 2.829-.029 5.257.953 7.197 2.901 1.954 1.95 2.946 4.404 2.976 7.304.015 2.871-.948 5.34-2.887 7.364zm2.265-16.884c-2.65-2.618-6.248-3.912-9.92-3.882-3.717.03-6.56 1.398-9.181 4.046-2.636 2.647-3.954 5.83-3.91 9.475.045 4.15 1.556 7.542 4.487 10.071 2.68 2.29 5.716 3.436 9.047 3.406 3.761-.044 7.004-1.398 9.64-4.03 2.621-2.619 3.939-5.832 3.894-9.566-.029-3.704-1.406-6.902-4.057-9.52zM112.252 26.94a1.755 1.755 0 0 0 0-3.51 1.755 1.755 0 1 0 0 3.51z'/%3E%3C/svg%3E");
  margin-bottom: 100px;
  width: 170px;
  height: 40px;
}

.subscribtion-form__text {
  margin: 0 0 30px;
}

.subscribtion-form__email {
  padding: 8px;
  width: 360px;
}

.footer__menu {
  margin-bottom: 30px;
}

.footer__menu li {
  margin-right: 15px;
}

.footer__menu a {
  color: #fff;
}

.footer__right,
.editorial-text__all {
  font: 400 12px/20px 'Helvetica', Arial, sans-serif;
  color: #6c6c6c;
  margin: 0 auto 60px;
}

.footer_inner .footer__right {
  width: 550px;
}

.footer__right .agreement,
.searchResult__text span {
  color: white;
}

.editorial-text__all {
  padding: 0;
  color: #000;
  margin-bottom: 0;
  display: block;
  line-height: 10px;
}

.editorial-text__title a {
  display: block;
}

.footer__age {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Слой 1' viewBox='0 0 50 50'%3E%3Cpath fill='%23fff' d='M12.7 19.5h-4v-1l1.6-.1a3.4 3.4 0 0 0 1.2-.4 2.3 2.3 0 0 0 .9-.9 4.2 4.2 0 0 0 .5-1.6h1.2V31h-1.4zm15.2-.2a3.5 3.5 0 0 0-1-1.9 2.7 2.7 0 0 0-2-.7 3.5 3.5 0 0 0-2.3.7 4.5 4.5 0 0 0-1.3 1.7 8.4 8.4 0 0 0-.6 2.3l-.2 2.3.7-.9a4.4 4.4 0 0 1 .8-.8 3.3 3.3 0 0 1 1-.5 4.3 4.3 0 0 1 1.6-.2 4.8 4.8 0 0 1 3.6 1.3 5 5 0 0 1 1.3 3.7 5.1 5.1 0 0 1-1.3 3.7 4.9 4.9 0 0 1-3.7 1.3 6 6 0 0 1-2.1-.4 4.3 4.3 0 0 1-1.7-1.2 6.5 6.5 0 0 1-1.2-2.3 12.4 12.4 0 0 1-.4-3.5 17.9 17.9 0 0 1 .3-2.9 9.4 9.4 0 0 1 .8-2.7 5.8 5.8 0 0 1 1.8-2 4.7 4.7 0 0 1 2.8-.8 4.8 4.8 0 0 1 3 1 4 4 0 0 1 1.5 2.8zm-3.3 3.2a3.3 3.3 0 0 0-2.6 1.1 3.9 3.9 0 0 0-.7 1.2 4.4 4.4 0 0 0-.2 1.5 5.3 5.3 0 0 0 .2 1.4 3.8 3.8 0 0 0 .6 1.2 3.6 3.6 0 0 0 1 .9 3.5 3.5 0 0 0 1.7.3 3.7 3.7 0 0 0 1.7-.3 3.3 3.3 0 0 0 1-1 3.8 3.8 0 0 0 .6-1.2 5.2 5.2 0 0 0 .2-1.4 4 4 0 0 0-.8-2.7 3.4 3.4 0 0 0-2.7-1zM37 20h1.3v4.8h4.8v1.4h-4.8V31H37v-4.8h-4.9v-1.4h4.9z'/%3E%3Cpath fill='none' stroke='%23fff' d='M25 .5A24.5 24.5 0 0 1 49.5 25 24.5 24.5 0 0 1 25 49.5 24.5 24.5 0 0 1 .5 25 24.5 24.5 0 0 1 25 .5z'/%3E%3C/svg%3E");
  margin: 0 auto;
}

.line,
.special-full {
  margin-bottom: 90px;
}

.special-full {
  margin-top: 0;
}

.special-full > * {
  margin: 0 auto;
}

aside .widget_small {
  margin: 30px 0;
}

.backgroundBox {
  padding-top: 28px;
}

.backgroundBox.-search,
.backgroundBox.-alphabet,
.columnist__header,
.sideMenu__secondary {
  background: #232323;
}

.backgroundBox__header {
  margin: 0 auto 90px;
}

.alphabetList,
.cabinetList,
.instagramList,
.postList {
  margin: 0 auto 90px;
  padding-top: 90px;
}

.shadowForm__button {
  margin-top: 0px;
  height: 34px;
  width: 34px;
}

.searchBlock__form input {
  width: 950px;
}

.shadowForm {
  border-bottom: 1px solid #787878;
  margin: 0 auto 90px;
  width: 1000px;
  padding-bottom: 10px;
}

.shadowForm form {
  padding: 0;
}

.search_results span {
  color: inherit;
  margin: 0;
}

.backgroundBox .abc li {
  color: #616161;
}

.backgroundBox .abc li a.active,
.backgroundBox .abc li a:active,
.backgroundBox .abc li a:hover {
  color: white;
}

.alphabetPost,
.articlePost,
.cabinetPost,
.instagramPost {
  float: left;
  margin-right: 50px;
}

.alphabetPost .image-wrap,
.articlePost .image-wrap,
.instagramPost .image-wrap,
.smallPreview .image-wrap,
.columnist__photo a {
  border-radius: 100%;
  margin-bottom: 20px;
}

.columnist__list {
  padding-top: 90px;
  margin-bottom: 40px;
}

.columnist,
.col_3 .columnist:nth-of-type(n + 4),
.col_3 .col_1:nth-of-type(n + 4) {
  margin-top: 0;
}

.col_1 {
  margin-right: 50px;
  margin-bottom: 50px;
}

.columnist__tag {
  margin: 0 auto 10px;
  color: black;
}

.columnist__name,
.alphabetList .smallPreview__header,
.article_header .article_subtitle {
  margin: 0;
}

.pagination {
  margin: 0 auto;
}

.collumns-section .alphabet .slick-slider {
  margin-bottom: 0;
}

.article_title {
  font: 400 50px/59px 'Helvetica', Arial, sans-serif;
  color: #000000;
}

.author_name,
.article_header p {
  margin: 0 10px 0px 0px;
  display: inline-block;
}

.author_name a,
.author_name span {
  font-family: Baskerville, Arial, sans-serif;
}

html[data-useros='windows'] .author_name a,
html[data-useros='windows'] .author_name span {
  font-family: 'Playfair Display', serif;
}

header + .wrapper,
header + script + .wrapper {
  padding-top: 30px;
}

.time-share .social_icons {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 0;
}

.articleHead ul.ya-share2__list {
  position: relative;
  top: 0;
}

.news_date:first-child,
.news_date,
.news_date span {
  margin: 0 0 30px;
  text-align: left;
}

.news_date span {
  display: inline;
  width: auto;
  height: auto;
  vertical-align: 0;
  border: 0;
}

.news_date .news_year {
  position: absolute;
  right: 0;
}

.news ul a:active,
.news ul a:focus,
.news ul a:hover {
  border: 0;
  padding: 0;
}

.news ul {
  margin: 0 0 30px;
  padding: 0;
  line-height: 14px;
}

.news ul li {
  margin-right: 20px;
}

.newsPreviewPhoto {
  margin-bottom: 60px;
}

.newsPreviewPhoto .image-wrap {
  display: block;
  margin-bottom: 20px;
}

.newsPreviewPhoto .news_header__tags {
  margin-bottom: 10px;
}

.news .mediumPreview {
  color: black;
  margin-bottom: 20px;
}

.newsPreviewPhoto .mediumPreview:first-child,
.newsPreviewPhoto .mediumPreview {
  margin-bottom: 20px;
}

.news time.dateTime,
.row21 .column:nth-child(n + 4) {
  margin: 0;
}

.technical {
  background: white;
}

.article_header {
  text-align: left;
  margin: 0 auto 40px;
}

.article_top .article_header {
  background: #fff;
  color: inherit !important;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
}

/*.wysiwyg p span,
.wysiwyg p {
  color: #000;
  font-size: 16px;
  line-height: 23px;
  font-family: 'Helvetica', Arial, sans-serif;
  position: relative;
}*/

.wysiwyg p cite {
  padding-left: 40px;
  margin-bottom: 50px;
  display: block;
  color: #232323;
}

.wysiwyg p cite:before {
  left: 42px;
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
  background: #232323;
}

.article_top .article_title,
.article_header .article_subtitle,
.article_header .article_tags {
  margin: 0 0 10px;
}

.article_top .article_tags a,
.article_top .article_subtitle {
  color: black;
}

.articleHead {
  position: relative;
  padding: 0;
  max-width: 100%;
  margin: 0;
}

.articleBottom {
  background: #fff;
  border: 0;
}

.em {
  padding: 0 5px;
}

.accordion,
.accordion__header,
.tech_page h1,
.tech_page h2,
.tech_page p,
.main_menu__item,
.secondary_menu__item:first-child,
.secondary_menu__item,
.main_menu__instagram,
.sideMenu__secondary .sign_in a,
.sideMenu__secondary .sign_up a,
.sideMenu__secondary .menu_info li,
.searchBlock__header,
.wysiwyg .gallery-item-title,
.wysiwyg .slider_caption,
.wysiwyg .slider_text {
  font-family: 'Helvetica', Arial, sans-serif;
}

.wysiwyg .slider_caption {
  font-weight: normal;
}

.article_top .article_photo {
  height: auto;
  margin-bottom: 10px;
}

.article_top {
  /* margin: 0 0 50px; */
  margin-bottom: 50px;
  margin-right: 30px;
  /* float: left; */
}

.time-share,
.social_icons {
  clear: left;
}

.wysiwyg .social_icons a:link {
  color: black;
  text-decoration: none;
  opacity: 1;
}

.wysiwyg .article_tag-bottom a,
.wysiwyg .article_tag-bottom a:link {
  text-decoration: none;
  opacity: 1;
}

.article-aside {
  /*float: left;*/
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  transition: width 0.4s, max-width 0.4s;
}

/* @media (max-width: 1366px) {
  .t-wide {
    width: 1220px;
  }
} */

@media (max-width: 1280px) {
  .t-wide {
    min-width: 1230px;
  }
}

.wide-gallery__wrap-container {
  min-width: 700px;
}

@media (max-width: 1280px) {
  .wide-gallery__wrap-container {
    width: 960px;
  }
}

.article_top.col_2_setka {
  margin-right: 0;
}

.row21 .column:nth-child(5n + 4) {
  max-width: 300px;
}

.row21 .column:nth-child(n + 4) {
  margin-left: 50px;
}

.row21 .column:nth-child(4) {
  margin: 0;
}

.loaded .column:nth-child(n + 4),
#facebook-jssdk-iframe {
  display: none;
}

.article_photo {
  margin: 0 0 20px;
}

.smallPreview__header {
  height: 105px;
  overflow: hidden;
  padding-left: 0px;
}

.pRelative {
  margin-bottom: 90px;
}

.editor-flex {
  max-width: 670px;
  /* float: left; */
  margin-right: 30px;
}

.editor-flex .row21 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.editor-flex .row21 .pRelative {
  margin-left: 0;
  width: 300px;
  float: none;
}

.editor-flex .row21 .pRelative:nth-child(n + 2) {
  margin-bottom: 0;
}

.news_header__tags {
  margin-bottom: 10px;
  padding-left: 0px;
}

.swiper-cards .swiper-slide:first-child .swiper-cards--content,
.swiper-cards .swiper-slide:first-child .article_header {
  margin-bottom: 0;
}

.editorsChoose__header {
  text-align: left;
  color: black;
  margin-bottom: 60px;
}

.article_tag-bottom {
  float: left;
  margin-bottom: 30px;
  max-width: 670px;
  width: 100%;
}

.article_tag-bottom div,
.article_tag-bottom a {
  color: black;
  display: inline-block;
  text-transform: uppercase;
  /* padding-right: 5px; */
  height: 20px;
}

.article_tag-bottom a,
.wysiwyg .article_tag-bottom a,
.article_tag-bottom div:first-child,
.article_tag-bottom a:first-child {
  padding: 0;
  color: black;
}

.article_tag-bottom div + div {
  border-left: 1px solid #c9c9c9;
  padding-left: 5px;
}

.vertical-videos {
  margin-bottom: 90px;
}

.wide-gallery__wrap {
  right: 0;
  max-width: 1000px;
  left: 0;
  padding: 30px 25px 0 25px;
  /* overflow: auto; */
}

.wide-gallery__prev {
  left: -60px;
}

.wide-gallery__next {
  right: -60px;
}

.full-gallery .wysiwyg {
  margin: 0;
  max-width: 670px;
}

.aside {
  float: none;
  display: flex;
}

.aside__scroller {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

aside .widget_tall {
  height: auto;
  outline: 0px solid rgba(0, 0, 0, 0.1);
}

.main_menu__instagram a {
  display: inline;
}

.main_menu__instagram a:hover {
  color: #000;
  border-bottom: 1px solid;
}

.another_news {
  padding: 0;
  border: 0;
  margin-bottom: 90px;
}

.another_news .smallPreview {
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.another_news--after-content h3 {
  font: 700 22px/33px 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

.another_news__after-title {
  display: none;
}

.another_news .smallPreview + .smallPreview + .smallPreview {
  margin: 0;
}

.another_news .smallPreview img,
.another_news .smallPreview div {
  display: block;
  float: none;
  width: 100%;
}

.another_news .smallPreview img,
.smallPreview .replaced_image.gif-image {
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.another_news .smallPreview .smallPreview__header {
  margin: 0;
  padding: 0;
}

.another_news .smallPreview .smallPreview__header,
.article-entry {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
}

.social_icons {
  margin-bottom: 90px;
}

.wysiwyg a:active,
.wysiwyg a:hover,
.wysiwyg a:link,
.wysiwyg a:visited {
  color: #444;
  text-decoration: underline;
  opacity: 1;
}

.mediumPreview .image-wrap img,
.smallPreview .image-wrap img,
.instagramSlider__item img {
  transition: none;
}

.alphabet .alphabet__item {
  border-radius: 100%;
  overflow: hidden;
}

.pagination .left_arrow {
  padding: 40px 0;
  top: 10px;
}

.wysiwyg {
  color: #000;
  font-size: 16px;
  line-height: 23px;
}

.pu__main {
  border: 1px solid #000;
}

.pu__input {
  height: 30px;
}

.pu__button_light {
  padding-top: 8px;
  height: 30px;
  margin-top: 1px;
  outline: none;
}

.pu__button,
.pu__button:focus,
.pu__button:hover {
  background: #232323;
  color: #fff;
}

.pu__button:focus,
.pu__button:hover {
  opacity: 0.8;
}

.slider_caption {
  font: 16px/19px 'Helvetica', Arial, Tahoma, Verdana, sans-serif;
}

.gallery-items {
  margin-bottom: 20px;
}

.voting .slider_caption {
  width: 100%;
}

.slick-dots li.slick-active button {
  background: #000;
}

.publicity.slider {
  margin-bottom: 100px;
}

#searchResult__list {
  display: flex;
  justify-content: space-between;
}

.searchResult__item {
  width: 230px;
  float: none;
}

.searchResult__item .image-wrap {
  margin-bottom: 20px;
}

.preloader::before {
  border-color: #fff;
}

.wysiwyg p > img {
  max-width: 100%;
}

/* ===================================== new elements below this line ===================================== */
.bg-23 {
  background: #232323;
}

/* section-stories */
.section-stories {
  margin-bottom: 90px;
  position: relative;
  padding-bottom: 50px;
}

.mw-1000,
.wysiwyg .mw-1000 {
  max-width: 1000px;
  transition: width 0.4s, max-width 0.4s;
}

.swiper-stories {
  width: 100%;
  height: 100%;
  padding: 0 45px;
}

.swiper-stories h3.white {
  margin: 30px 0 40px;
  color: white;
}

.swiper-stories h3.white:hover {
  background: inherit;
}

.swiper-stories--container {
  max-width: 910px;
  padding-bottom: 50px;
}

.swiper-stories--container .db {
  border-radius: 5px;
  overflow: hidden;
}

.swiper-stories--prev,
.swiper-stories--next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 10px;
  height: 100px;
  width: 60px;
  transition: transform 1s;
  outline: 0;
}

.swiper-stories--prev {
  left: 0;
}

.swiper-stories--next {
  right: 0;
}

.swiper-stories--prev:hover,
.swiper-stories--next:hover {
  transform: scale(2);
}

/* post-cards */
.post-cards {
  float: left;
  max-width: 670px;
}

.swiper-cards {
  width: 670px;
  height: 830px;
  padding: 0 25px;
  margin-bottom: 60px;
}

.swiper-cards--container {
  border: 3px solid;
  height: 100%;
  overflow: hidden;
}

.swiper-cards .swiper-wrapper,
.swiper-cards--container,
.swiper-cards .swiper-slide {
  max-height: 780px;
}

.swiper-cards--container .swiper-cards--content,
.swiper-cards--container .swiper-cards--content + .swiper-cards--content {
  max-width: 540px;
}

.swiper-cards--container .swiper-cards--content {
  font: 700 27px/27px 'Helvetica', Arial, sans-serif;
  margin-bottom: 30px;
  /*max-width: 490px;*/
}

.swiper-cards--container .swiper-cards--content + .swiper-cards--content {
  font: 400 20px/20px 'Helvetica', Arial, sans-serif;
  /*max-width: 540px;*/
}

.post-cards .swiper-cards--content a {
  text-decoration: underline;
}

.swiper-cards .swiper-wrapper {
  margin-bottom: 10px;
}

.swiper-cards--container img {
  margin-bottom: 20px;
}

.swiper-cards--pagination,
.wide-gallery__caption li {
  font: 400 16px/19px 'Helvetica', Arial, sans-serif;
  text-align: left;
  position: relative;
  bottom: 0;
  color: #000;
}

.swiper-cards--prev,
.swiper-cards--next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='black'/%3E%3C/svg%3E");
  background-size: 10px;
  transition: transform 1s;
  width: 50px;
  height: 100px;
  top: 40%;
  outline: 0;
}

.swiper-cards--prev {
  left: -15px;
}

.swiper-cards--next {
  right: -15px;
}

.swiper-cards--prev:hover,
.swiper-cards--next:hover {
  transform: scale(2);
}

.planet {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='black'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 28px;
  transition: right 0.4s linear, opacity 0.4s step-end;
}

.planet__satellite {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='5' fill='black'/%3E%3C/svg%3E");
  width: 4px;
  height: 4px;
  position: absolute;
  top: 84%;
  left: 110%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo .planet {
  position: absolute;
  top: 20px;
  right: -15px;
  opacity: 0;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move-opacity2 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body.down header .logo__wrapper {
  width: 0;
}

body.down header .logo__wrapper_planet {
  transition-delay: 0.1s;
}

body.down header .planet {
  right: -30px;
  opacity: 1;
  transition: right 0.4s linear;
  animation: planetSpin 10s infinite linear;
}

@keyframes planetSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
.branding-left {
  margin-top: -655px !important;
  margin-left: -1325px !important;
}

.branding-right {
  margin-top: -655px !important;
  margin-left: 525px !important;
}

.branding_fixed {
  top: 723px !important;
}
.col_2_setka {
  clear: both;
} */

.eng_widget_is {
  font: 400 16px/19px 'Helvetica', Arial, sans-serif !important;
}

.eng_ww_ttl_span1 {
  margin: 0 0 15px 0px !important;
  text-align: left !important;
  color: black !important;
  font: 700 22px/33px 'Oswald', Arial, sans-serif !important;
  font-size: 0 !important;
  text-transform: uppercase;
}

.eng_ww_ttl_span1:before {
  content: 'Это интересно';
  font: 700 22px/33px 'Oswald', Arial, sans-serif !important;
}

.another_news .smallPreview .replaced_image.paste {
  border-radius: 50%;
}

.smallPreview .replaced_image.gif-image {
  height: 300px;
}

.active_art {
  z-index: auto;
}

.main-content .first .cover {
  max-height: 340px;
}

.main-content .first .link-text,
.searchResult__item h4 {
  font: 400 22px/22px 'Helvetica', Arial, sans-serif;
}

.main-content .tags {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
}

.square {
  max-width: 205px;
}

.main-content .square .link-text {
  font: 400 16px/19px 'Helvetica', Arial, sans-serif;
  max-height: 100px;
}

.main-content .regular {
  max-width: 435px;
}

.main-content .regular .cover {
  max-height: 205px;
}

.main-content .regular .link-text {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
  max-height: 105px;
}

/* выходим на атомарный уровень */
.mr-30 {
  margin-right: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.section-square {
  max-width: 205px;
}

.section-regular {
  max-width: 435px;
}

.section-square article,
.section-regular article {
  height: 330px;
}

.section-three .tags {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
}

.section-three .regular .link-text {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
}

.circle {
  border-radius: 50%;
}

.section-rects .tags {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
}

.section-rects .regular .link-text {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
}

.mw-485 {
  max-width: 485px;
}

.mw-300 {
  max-width: 300px;
}

.section-three {
  max-width: 1000px;
}

header + .wrapper:after,
.news .smallPreview__header {
  display: none;
}

.main-content .first .cover {
  max-height: 340px;
}

.main-content .first .link-text {
  font: 400 22px/22px 'Helvetica', Arial, sans-serif;
}

.main-content .tags {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
}

.square {
  max-width: 205px;
}

.main-content .square .link-text {
  font: 400 16px/19px 'Helvetica', Arial, sans-serif;
  max-height: 100px;
}

.main-content .regular {
  max-width: 435px;
}

.main-content .regular .cover {
  max-height: 205px;
}

.main-content .regular .link-text {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
  max-height: 105px;
}

/* #10073 telegram icon border fix */
.side-social__item.tg {
  border-top: 1px solid #d9d9d9;
}

/* выходим на атомарный уровень */
.mr-30
{
  margin-right: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.section-square {
  max-width: 205px;
}

.section-regular {
  max-width: 435px;
}

.section-square article,
.section-regular article {
  height: 330px;
}

.section-three .tags {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
}

.section-three .regular .link-text {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
}

.circle {
  border-radius: 50%;
}

.section-rects .tags {
  font: 400 12px/14px 'Helvetica', Arial, sans-serif;
}

.section-rects .regular .link-text {
  font: 400 22px/26px 'Helvetica', Arial, sans-serif;
}

.mw-485 {
  max-width: 485px;
}

.mw-300 {
  max-width: 300px;
}

.section-three {
  width: 1000px;
}

header + .wrapper:after {
  display: none;
}

.anchor {
  position: absolute;
  top: -100px;
  left: 0;
}

.t-show {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.col_2 {
  float: none;
}

.article_top.col_2 {
  width: auto;
  margin: 0 30px 50px 0;
}

.sticky-side,
.aside{
  float: none;
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  /* Этот margin-left нужен. Он общий для всего сайта */
  margin-left: 30px;
}
.wrapper,
.sticky-container {
  position: relative;
  z-index: 1;
}
.sticky-container:first-child {
  margin-bottom: 30px;
}

.sticky-container-item {
  position: sticky;
  position: -webkit-sticky;
  top: 70px;
}

.t-setka-mix,
.t-setka-mix-gallery,
.t-wide-opener,
.news-flex {
  display: flex;
}

.news-flex {
  padding-top: 30px;
}

.instagramPhotos__item {
  width: 50%;
  height: 100%;
  /* max-height: 335px */
}

.circle-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.circle-arrow__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.circle-arrow__icon {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  background: black;
  transition: all 0.3s ease;
}

.circle-arrow__caption {
  width: 150px;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  color: black;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  transition: all 0.3s ease;
}

.circle-arrow_left {
  right: 100%;
}

.circle-arrow_left .circle-arrow__caption {
  padding-right: 15px;
  right: 0;
  text-align: right;
}

.circle-arrow_right {
  left: 100%;
}

.circle-arrow_right .circle-arrow__caption {
  padding-left: 15px;
  left: 0;
  text-align: left;
}

.circle-arrow_white .circle-arrow__icon {
  background: white;
}

.circle-arrow_white .circle-arrow__caption {
  color: white;
}

.circle-arrow:hover .circle-arrow__icon {
  transform: scale(1.5);
}

.circle-arrow_hover-caption .circle-arrow__caption {
  opacity: 0;
}

.circle-arrow_hover-caption.circle-arrow_left .circle-arrow__caption {
  transform: translate3d(10px, 0, 0);
}

.circle-arrow_hover-caption.circle-arrow_right .circle-arrow__caption {
  transform: translate3d(-10px, 0, 0);
}

.circle-arrow_hover-caption.circle-arrow_left:hover .circle-arrow__caption,
.circle-arrow_hover-caption.circle-arrow_right:hover .circle-arrow__caption {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
}

.instagramProfile {
  background: white;
  color: black;
}

.instagramProfile__name,
.instagramProfile__caption {
  color: inherit;
}

.instagramProfile__link a {
  color: #58585a;
}

.instagramProfile__pic img {
  border: 1px solid #ccc;
}

.instagramPhotos__item img {
  width: 335px;
  height: 335px;
  background: antiquewhite;
}

.instagramPhotos__item-caption,
.instagram_image_slider_text {
  font-size: 12px;
  padding: 1rem 2rem 2rem;
  text-align: center;
  line-height: normal;
}

.instagram_img-nursultan {
  background: aquamarine;
}

.alphabetProfile__photo img {
  width: auto;
  height: auto !important;
  margin: auto;
}

.alphabetProfile__photo {
  background-color: #232323;
}

span.tag-sponsored {
  border-color: #b92b2b;
  padding: 0 10px;
  font-size: 10px;
  line-height: 13px;
  border-radius: 2px;
  cursor: default;
}

.swiper-columnists {
  max-width: 620px;
  margin-left: 0;
}

.swiper-columnists--prev,
.swiper-columnists--next {
  width: 40px;
  top: 122px;
}

.voting.slider .next,
.voting.slider .prev {
  margin-top: -65px;
}

.partnership_container {
  position: relative;
}
.cover.circle img{
  width: 100%;
} 

.relative {
  position: relative;
}

.user-favorites {
  position: absolute;
  z-index: 124;
  padding-left: 7px;
  padding-top: 7px;
  right: 10px;
}

.user-favorites-add,
.user-favorites-remove {
  display: block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #fff;
  background-color: #222;
  font-size: 24px;
  line-height: 24px;
  padding-left: 3px;
  padding-top: 0px;
}

.user-favorites-add.hide,
.user-favorites-remove.hide {
  display: none;
}

.w300px {
  width: 300px;
}

@media (max-width: 1366px) {
  .r-mw-870 {
    max-width: 870px;
  }

  .r-mw-900 {
    max-width: 900px;
  }
}

.side-social.socials-fix-left {
  position: fixed;
  top: 40%;
  width: 50px;
  border: 0;
  margin-left: auto;
  filter: invert(1);
  transform: translateX(-50px);
  transition: transform 0.5s 1s;
  z-index: 2;
}
.down .side-social.socials-fix-left {
  transform: none;
}
.side-social.socials-fix-left .side-social__item {
  border: 0;
  height: 50px;
}
.side-social.socials-fix-left .pin,
.side-social.socials-fix-left .tw {
  display: none;
}
